global-include *.so
global-exclude *.py
include setup.py
include tensoralloy/cli.py
include tensoralloy/transformer/indexed_slices.py
include tensoralloy/descriptor/cutoff.py
include tensoralloy/io/input/choices.toml
include tensoralloy/io/input/defaults.toml